/* Footer */
.footer {
    background: #fff;
    padding: 2rem 5rem;
    color: #666;
    display: flex;
    flex-direction: column; /* Organiza las secciones en columna */
    align-items: center; /* Centrar contenido */
    text-align: center; /* Centrar textos */
    gap: 2rem; /* Espaciado entre secciones */
    width: 100%;
}

/* Créditos */
.footer .credits {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los textos */
    width: 100%;
}

.footer .credit-list p {
    margin: 0;
    font-weight: bold;
}

/* Referencias */
.footer .additional-references {
    margin-top: 1rem;
}

.footer .references {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centrar elementos */
    gap: 1rem;
    width: 100%;
}

.footer .reference {
    flex: 1;
    min-width: 200px;
}

/* Logos de alianzas */
.alliance-logos {
    display: flex;
    justify-content: center; /* Centrar los logos */
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
}

.alliance-logos img {
    height: 4rem;
    transition: transform 0.2s;
}

.alliance-logos img:hover {
    transform: scale(1.1);
}

/* Responsivo */
@media (max-width: 768px) {
    .footer {
        padding: 2rem 1rem;
    }

    .footer .references {
        flex-direction: column;
    }
}
